.profileIcon {
  height: 1.5em;
}

.icon {
  margin: .1em;
  height: 7em;
  cursor: pointer;
}

.footer {
  margin-top: 1em;
  margin-bottom: 1em;
}

.select {
  width: 75%;
  margin-bottom: .5em;
}

.loading {
  height: 30em;
}

.loading-gif {
  height: 25em;
}
